USE [master]
GO
/****** Object:  Database [LogoDB]    Script Date: 27.03.2022 20:30:58 ******/
CREATE DATABASE [LogoDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LogoDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LogoDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LogoDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LogoDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LogoDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LogoDB]
GO
/****** Object:  Table [dbo].[Companies]    Script Date: 27.03.2022 20:30:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companies](
	[CompanyId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](25) NOT NULL,
	[Address] [nvarchar](30) NULL,
	[City] [nvarchar](20) NULL,
	[Country] [nvarchar](20) NULL,
	[PostalCode] [nvarchar](5) NULL,
	[Description] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 27.03.2022 20:30:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](25) NOT NULL,
	[UserSurname] [nvarchar](25) NOT NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[Address] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Companies]  WITH CHECK ADD  CONSTRAINT [FK_Companies_Users] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Companies] CHECK CONSTRAINT [FK_Companies_Users]
GO
/****** Object:  StoredProcedure [dbo].[spInsertCompany]    Script Date: 27.03.2022 20:30:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Proc [dbo].[spInsertCompany]
(
@CompanyName nvarchar(25),
@Address nvarchar(30),
@City nvarchar(20),
@Country nvarchar(20),
@PostalCode nvarchar(5),
@Description nvarchar(150)
)
AS
Begin
	insert into Companies(CompanyName,[Address],City,Country,PostalCode,[Description])
	values(@CompanyName,@Address,@City,@Country,@PostalCode,@Description)
End
GO
/****** Object:  StoredProcedure [dbo].[spInsertUser]    Script Date: 27.03.2022 20:30:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Proc [dbo].[spInsertUser]
(
@UserName nvarchar(25),
@UserSurname nvarchar(25),
@DateOfbirth datetime,
@Address nvarchar(30)
)
AS
Begin
	insert into Users (UserName,UserSurname,DateOfBirth,[Address])
	Values (@UserName,@UserSurname,@DateOfbirth,@Address)
End
GO
USE [master]
GO
